// =========================================
//  Mixins
// =========================================

@mixin center-container($percent: 90%) {
  width: $percent;
  max-width: $max-width;
  margin: 0 auto;
}
