form {
    // ----- form specific variables -----
    $txtbx-length: 70%;
    //----------------------------------------------------------------------
    @include center-container(90%);

    .contact-section {
        padding-bottom: 2em;
        border-bottom: 2px solid $color-1;
        @media screen and (min-width: 760px) {
            margin-bottom: 2em;
        }
    }

    fieldset {
        border: hidden;
        padding: 0;
    }

    legend {
        color: $color-1;
        font: bold 1.5em $font-stack-serif;
        padding: 0.83em 0;


        &.legend-small {
            color: $color-1-light50;
            font: 1em $font-stack-serif;
            padding: 1em 0 0.2em;
        }
    }

    .input-div {
        @media screen and (min-width: 760px) {
            margin-bottom: 1em;
            @include flex-mixin($justify: space-between, $align: baseline);
        }
    }

    .label {
        display: block;
        @include label-mixin;
        @media screen and (min-width: 760px) {
            font-size: 1em;
            width: calc(100% - #{$txtbx-length});
        }
    };

    input.textinput {
        display: block;
        @include input-mixin (right) {
            width: 100%;

            &.zip {
                width: 60%;
                @media screen and (min-width: 760px) {
                    width: 30%;
                    margin-right: auto;
                }
            }
        }
        @media screen and (min-width: 760px) {
            display: inline-block;
            width: $txtbx-length;
        }
    }

    select {
        @include input-mixin {
            width: 100%;
            color: $color-1-gray;
            font: oblique 1em $font-stack-serif;
        }
        @media screen and (min-width: 760px) {
            display: inline-block;
            width: $txtbx-length;
        }
    }

    textarea {
        @include input-mixin {
            width: 100%;
        };
    }

    button {
        @include button-mixin;
        margin: 1.5em 0;
        width: 100%;
        @media screen and (min-width: 760px) {
            width: 50%;
            margin-left: auto;
            margin-right: auto;
        }
    }
}
