form {
    @include center-container(90%);

    .contact-section {
        padding-bottom: 3em;
        border-bottom: 2px solid $color-1;
    }

    h2 {
        font-size: 1.25em;
    }

    label {
        display: block;
        @include label-mixin;
    };

    input.textinput {
        display: block;
        @include input-mixin {
            width: 100%;

            &.zip {
                width: 60%;
            }
        }
    }

    select {
        @include input-mixin {
            width: 100%;
        }
    }

    .news-select {
        @include center-container(95%);

        p {
            text-align: left;
        }

        textarea {
            @include textbox-mixin {
                width: 100%;
            };
        }

        button {
            @include button-mixin;
            margin: 1.5em 0;
            width: 100%;
        }
    }
}
