.title {
    font-size: 1em;
    color: white;
    text-align: center;
    text-transform: uppercase;
    background-color: $color-1;
    padding: 1em;
    margin: 0 0 1em;
}

.intro {
    width: 90%;
    margin: 0 auto;
    border-bottom: 5px double $color-1;
}

.signup-title {
    color: $color-1;
    font-size: 1.25em;
    text-align: center;
}

p {
    color: $color-1-light50;
    font-family: $font-stack-serif;
    letter-spacing: -1px;
    text-align: center;
}
// * {
//     border: 1px red solid;
// }
