@mixin label-temp {
    color: $color-1-light20;
    font-family: $font-stack-serif;
    font-size: 0.8em;
    display: block;
    margin: 1em 0 0.2em;
    @content;
}
@mixin input-temp {
    background-color: rgba($color-1-light50, 0.3);
    padding: 1em;
    border-style: hidden;
    border-radius: 10px;
    width: 100%;

    &::placeholder {
        color: $color-1-gray;
        text-align: right;
        font: oblique 0.8em $font-stack-serif;
    }

    &:focus {
        border: 2px solid darkblue;
    }
    @content;


}
