// ======================================
//  Base Styles
// ======================================

* {
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  line-height: 1.5;
  font-family: $font-stack-primary;
  text-align: left;
  margin: 0;
}

h1,
h2 {
  font-family: $font-stack-secondary;
}

p {
  margin-bottom: 1.25em;
}

a {
  color: null;
  text-decoration: none;
  &:hover {
    color: null
  }
}
